server:
  port: 8081
spring:
  application:
    name: producer
  kafka:
    bootstrap-servers: localhost:9094
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

orders:
  scheduler:
    send:
      enabled: true